body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f1f5f9;
}

.layout {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 230px;
  background-color: #1e293b;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.logo {
  color: white;
  margin-bottom: 30px;
}

.sidebar a {
  color: #cbd5e1;
  text-decoration: none;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 10px;
  transition: 0.3s;
}

/* Active link */
.sidebar a.active {
  background-color: #3b82f6;
  color: white;
}

.sidebar a:hover {
  background-color: #334155;
  color: white;
}

/* Content Area */
.content {
  flex: 1;
  padding: 40px;
}